
@{
    ViewData["PageTitle"] = "Bảng điều khiển";
}

<h1>
    Đây là khu vực dành cho người quản trị nhé!
</h1>

<h1>
    Giờ hiện tại: @DateTime.Now
</h1>

<cache expires-after="TimeSpan.FromSeconds(10)">
    Giờ đã lưu:@DateTime.Now
</cache>
